@function x_size($size_x) {
    @return ($size_x / 640)*100%;
}
@function y_size($size_y) {
    @return ($size_y / 1136)*100%;
}
.card {
	height: 100%;
	height: 100vh;
	position: relative;
	.heading {
		width: x_size(546);
		height: y_size(102);
		padding-top: y_size(32);
	}
	.floder_cont,
	.next_bt_cont {
		position: absolute;
	}
	.card_cont {
		padding-top: y_size(38);
		padding-bottom: y_size(23);
		padding-left: x_size(64);
	}
	.card_1,.card_2,.card_3 {
		display: inline-block;
		opacity: 0;
        filter: alpha(opacity=0);
	}
	.card_1 {
		width: x_size(259);
		height: y_size(151);
	}
	.card_2 {
		width: x_size(285);
		height: y_size(157);
	}
	.card_3 {
		width: x_size(560);
		height: y_size(271);
	}
}