@function x_size($size_x) {
    @return ($size_x / 640)*100%;
}
@function y_size($size_y) {
    @return ($size_y / 1136)*100vh;
}
/*
eliminate animation flash screen 
 */
@mixin eliminate_flash {
    transform: translate3d(0,0,0);
    transform-style: preserve-3d;
    backface-visibility:hidden;
}
.header {
    width: x_size(490);
    height: y_size(77);
}
.dot_fill {
    background:transparent url('../images/dot_fill-min.png') left top no-repeat;
}
.dot_empty {
    background:transparent url('../images/dot_empty-min.png') left top no-repeat;
}
.page_bottom_cont {
    height: y_size(80);
    margin-top: y_size(-5);
}
.page_item {
    width: 100%;
    overflow: hidden;
}
.page {
    position: relative;
    background: url(../images/page_border-min.png) no-repeat left bottom;
    background-size: 100% 11.17%;
}
.next_bt_cont {
    position: absolute;
    width: x_size(153);
    height: y_size(68);
    bottom:y_size(14);
    right: x_size(42);
}
.hurt_deg_cont {
    padding-top: y_size(23);
    width: x_size(230);
    height: y_size(54);
    padding-bottom: y_size(8);
    opacity: 0;
    filter: alpha(opacity=0);
}
.hurt_dot_cont {
    height: y_size(49);
    padding-bottom: y_size(61);
    font-size: 0;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
    li {
        width: x_size(30);
        height: 100%;
        margin-right: x_size(15);
        display: inline-block;
        background-size: 100% 100%;
    }
}
.current {
    .fade_in_3 {
        animation: fade_in .6s  ease-in-out .3s 1;
        animation-fill-mode: forwards;
        @include eliminate_flash;
    }
    .fade_in_6 {
        animation: fade_in .6s  ease-in-out .6s 1;
        animation-fill-mode: forwards;
        @include eliminate_flash;
    }
    .fade_in_9 {
        animation: fade_in .6s  ease-in-out .9s 1;
        animation-fill-mode: forwards;
        @include eliminate_flash;
    }
    .fade_in_12 {
        animation: fade_in .6s  ease-in-out 1.2s 1;
        animation-fill-mode: forwards;
        @include eliminate_flash;
    }
}
.page_next {
    .page {
        animation: uparr .6s  ease-in-out 1;
        @include eliminate_flash;
    }
    .floder_cont {
        animation: next_rotateZ .6s  ease-in-out 1;
        animation-fill-mode: forwards;
        transform-origin: left bottom;
        @include eliminate_flash;
    }
    .next_bt_cont {
        animation: next_translateY .6s  ease-in-out 1;
        animation-fill-mode: forwards;
        @include eliminate_flash;
    }
}
@keyframes fade_in {
    100% { 
        opacity: 1;
        filter: alpha(opacity=1);
    }
}
@keyframes fade_in {
    100% { 
        opacity: 1;
        filter: alpha(opacity=1);
    }
}
@keyframes next_translateY {
    0% { 
        transform: translateY(0);
    }
    100% { 
        transform: translateY(-10px);
    }
}
@keyframes next_translateY {
    0% { 
        transform: translateY(0);
    }
    100% { 
        transform: translateY(-10px);
    }
}
@keyframes next_rotateZ {
    0% { 
        transform: rotateZ(0);
    }
    100% { 
        transform: rotateZ(-10deg);
    }
}
@keyframes next_rotateZ {
    0% { 
        transform: rotateZ(0);
    }
    100% { 
        transform: rotateZ(-10deg);
    }
}
@keyframes uparr{
    0%{ transform:translate3d(0,0,0); 
        opacity: 1;
        filter: alpha(opacity=1);
        transform: translateY(0px);
    }
    100%{ transform:translate3d(-10%,-50%,0);
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translateY(-100px);
    }
}
@keyframes uparr{
    0%{ transform:translate3d(0,0,0); 
        opacity: 1;
        filter: alpha(opacity=1);
        transform: translateY(0px);
    }
    100%{ transform:translate3d(0,-50%,0);
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translateY(-100px);
    }
}