@function x_size($size_x) {
    @return ($size_x / 640)*100%;
}
@function y_size($size_y) {
    @return ($size_y / 1136)*100%;
}
.grade {
	height: 100%;
	height: 100vh;
	position: relative;
	.grade_heading {
		width: x_size(546);
		height: y_size(102);
		padding-top: y_size(32);
	}
	.grade_1,.grade_2 {
		margin-top: y_size(18);
		display: inline-block;
		opacity: 0;
        filter: alpha(opacity=0);
	}
	.grade_1 {
		margin-left: x_size(53);
		width: x_size(303);
	    height: y_size(194);
	}
	.grade_2 {
		margin-top: y_size(5);
		width: x_size(243);
	    height: y_size(187);
	}
	.grade_3 {
		margin-left: x_size(58);
		width: x_size(534);
	    height: y_size(231);
	    opacity: 0;
        filter: alpha(opacity=0);
	}
}