@mixin eliminate_flash {
    transform: translate3d(0,0,0);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
@function x_size($size_x) {
    @return ($size_x / 640)*100%;
}
@function y_size($size_y) {
    @return ($size_y / 1136)*100%;
}
.index {
    position: relative;
    width: 100%;
    height: 100vh;
    .test_cont {
        position: relative;
    }
    .idont,.sword_1,.sword_2,.knife {
        position: absolute;
    }
    .header {
        width: x_size(490);
    }
    .test {
         width: x_size(579);
         padding-left: x_size(21);
    }
    .sword_1 {
        width: x_size(66);
        top: y_size(2038);
        left: x_size(806);
    }
    .sword_2 {
        width: x_size(106);
        top: y_size(296);
        left: x_size(-106); 
    }
    .knife {
        width: x_size(119);
        top: y_size(681);
        left: x_size(393);
    }
    .enter {
        width: x_size(242);
        padding-top: y_size(107);
        padding-left: x_size(313);
    }
    .idont {
        width: x_size(461);
        bottom: y_size(-210);
        left: x_size(42);
    }
    @keyframes kinfe_in {
        0% {
            top: y_size(481);
            left: x_size(-119);
            transform: rotate(360deg);
        }
        50% {
            top: y_size(371);
            left: x_size(219);
            transform: rotate(180deg);
        }
        100% {
            top: y_size(681);
            left: x_size(393);
            transform: rotate(0);
        }
    }
    @keyframes sword_1_in {
        0% {
            top: y_size(2038);
            left: x_size(806);
        }
        60% {
            top: y_size(38);
            left: x_size(338);
        }
        70% {
            transform:rotateZ(-10deg);
        }
        80% {
            transform:rotateZ(10deg);
        }
        100% {
            transform:rotateZ(0);
            top: y_size(38);
            left: x_size(338);
        }
    }
    @keyframes sword_2_in {
        0% {
            top: y_size(296);
            left: x_size(-106);
        }
        100% {
            top: y_size(496);
            left: x_size(37);
        }
    }
    @keyframes enter_in {
        0% {
            width: x_size(262);
        }
        25% {
            width: x_size(272);
        }
        50% {
            width: x_size(282);
        }
        75% {
            width: x_size(272);
        }
        100% {
            width: x_size(262);
        }
    }
}
.current {
    .sword_1 {
        animation: sword_1_in .5s  linear .8s 1;
        animation-fill-mode: forwards; 
        @include eliminate_flash;
    }
    .sword_2 {
        animation: sword_2_in .1s  cubic-bezier(.65,.78,.79,-0.2) .8s 1;
        animation-fill-mode: forwards;  
        @include eliminate_flash;
    }
    .knife {
        animation: kinfe_in .2s  linear 1;
        @include eliminate_flash;
    }
    .enter {
        animation: enter_in 1.5s  linear 1.5s infinite;
        @include eliminate_flash;
    }
}