@mixin eliminate_flash {
    transform: translate3d(0,0,0);
    transform-style: preserve-3d;
    backface-visibility:hidden;
}
@function x_size($size_x) {
    @return ($size_x / 640)*100%;
}
@function y_size($size_y) {
    @return ($size_y / 1136)*100%;
}
.hurt {
	position: relative;
	height: 100%;
    height: 100vh;
    .body_cont,
    .hand_cont,
    .hp_cont,
    .hp_bg,
    .hp_fill_cont {
    	position: absolute;
    }
    .body_cont {
    	width: x_size(331);
        height: y_size(185);
    	left: x_size(150);
    	top: y_size(254);
    	animation: body_scale .2s linear infinite;
        transform-origin: left top;
        @include eliminate_flash;
    }
    .hand_cont {
    	width: x_size(129);
    	height: y_size(59);
    	left: x_size(267);
    	top: y_size(364);
    	animation: hand_rotateZ .2s linear infinite;
        transform-origin: left top;
        @include eliminate_flash;
    }
    .hp_cont {
    	width: x_size(299);
    	height: y_size(49);
    	left: x_size(169);
    	top: y_size(462);
    }
    .hp_bg {
        .bg {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            background:#fff;
        }
    }
    .hp_fill_cont,
    .hp_bg {
        width: x_size(228);
    	height: y_size(42);
    	right: x_size(170);
    	top: y_size(464);
    }
    .hp_cont {
        z-index: 300;
    }
    .hp_fill_cont {
        z-index: 100;
    }
    .hp_bg {
        z-index: 200;
    }
    @keyframes hand_rotateZ {
        0% {
            transform:rotateZ(-60deg);
            top: y_size(383);
        }
        75% {
            transform:rotateZ(-40deg);
            top: y_size(378);
        }
        100% {
            transform:rotateZ(0deg);
        }
    }
    @keyframes hand_rotateZ {
        0% {
            transform:rotateZ(-60deg);
    		top: y_size(383);
        }
        75% {
            transform:rotateZ(-40deg);
            top: y_size(378);
        }
        100% {
            transform:rotateZ(0deg);
        }
    }
    @keyframes body_scale {
        0% {
            transform:scale(1.01,1.01);
        }
        50% {
            transform:scale(1,1);
        }
        100% {
            transform:scale(1.01,1.01);
        }
    }
    @keyframes body_scale {
        0% {
            transform:scale(1.01,1.01);
        }
        50% {
            transform:scale(1,1);
        }
        100% {
            transform:scale(1.01,1.01);
        }
    }
}