@function x_size($size_x) {
    @return ($size_x / 640)*100%;
}
@function y_size($size_y) {
    @return ($size_y / 1136)*100%;
}
.lib {
	height: 100%;
	height: 100vh;
	position: relative;
	.lib_heading {
		width: x_size(533);
		height: y_size(88);
		padding-bottom: y_size(18);
	}
	.lib_cont {
		font-size: 0;
	}
	.lib_1,.lib_2,.lib_3 {
		display: inline-block;
		opacity: 0;
        filter: alpha(opacity=0);
	}
	.lib_1 {
		margin-left: x_size(53);
		width: x_size(536);
		height: y_size(179);
	}
	.lib_2 {
		margin-left: x_size(54);
		width: x_size(249);
		height: y_size(262);
	}
	.lib_3 {
		width: x_size(269);
		height: y_size(271);
		margin-bottom: y_size(30);
	}
}