/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$mdc-2-name: 'mdc_2';
$mdc-2-x: 0px;
$mdc-2-y: 0px;
$mdc-2-offset-x: 0px;
$mdc-2-offset-y: 0px;
$mdc-2-width: 60px;
$mdc-2-height: 37px;
$mdc-2-total-width: 636px;
$mdc-2-total-height: 9870px;
$mdc-2-image: '../../static/assets/sprite.png';
$mdc-2: (0px, 0px, 0px, 0px, 60px, 37px, 636px, 9870px, '../../static/assets/sprite.png', 'mdc_2', );
$mdc-1-name: 'mdc_1';
$mdc-1-x: 0px;
$mdc-1-y: 37px;
$mdc-1-offset-x: 0px;
$mdc-1-offset-y: -37px;
$mdc-1-width: 54px;
$mdc-1-height: 42px;
$mdc-1-total-width: 636px;
$mdc-1-total-height: 9870px;
$mdc-1-image: '../../static/assets/sprite.png';
$mdc-1: (0px, 37px, 0px, -37px, 54px, 42px, 636px, 9870px, '../../static/assets/sprite.png', 'mdc_1', );
$dot-empty-name: 'dot_empty';
$dot-empty-x: 0px;
$dot-empty-y: 79px;
$dot-empty-offset-x: 0px;
$dot-empty-offset-y: -79px;
$dot-empty-width: 30px;
$dot-empty-height: 49px;
$dot-empty-total-width: 636px;
$dot-empty-total-height: 9870px;
$dot-empty-image: '../../static/assets/sprite.png';
$dot-empty: (0px, 79px, 0px, -79px, 30px, 49px, 636px, 9870px, '../../static/assets/sprite.png', 'dot_empty', );
$dot-fill-name: 'dot_fill';
$dot-fill-x: 0px;
$dot-fill-y: 128px;
$dot-fill-offset-x: 0px;
$dot-fill-offset-y: -128px;
$dot-fill-width: 30px;
$dot-fill-height: 49px;
$dot-fill-total-width: 636px;
$dot-fill-total-height: 9870px;
$dot-fill-image: '../../static/assets/sprite.png';
$dot-fill: (0px, 128px, 0px, -128px, 30px, 49px, 636px, 9870px, '../../static/assets/sprite.png', 'dot_fill', );
$hp-empty-name: 'hp_empty';
$hp-empty-x: 0px;
$hp-empty-y: 177px;
$hp-empty-offset-x: 0px;
$hp-empty-offset-y: -177px;
$hp-empty-width: 299px;
$hp-empty-height: 49px;
$hp-empty-total-width: 636px;
$hp-empty-total-height: 9870px;
$hp-empty-image: '../../static/assets/sprite.png';
$hp-empty: (0px, 177px, 0px, -177px, 299px, 49px, 636px, 9870px, '../../static/assets/sprite.png', 'hp_empty', );
$hp-fill-name: 'hp_fill';
$hp-fill-x: 0px;
$hp-fill-y: 226px;
$hp-fill-offset-x: 0px;
$hp-fill-offset-y: -226px;
$hp-fill-width: 228px;
$hp-fill-height: 49px;
$hp-fill-total-width: 636px;
$hp-fill-total-height: 9870px;
$hp-fill-image: '../../static/assets/sprite.png';
$hp-fill: (0px, 226px, 0px, -226px, 228px, 49px, 636px, 9870px, '../../static/assets/sprite.png', 'hp_fill', );
$hurt-deg-name: 'hurt_deg';
$hurt-deg-x: 0px;
$hurt-deg-y: 275px;
$hurt-deg-offset-x: 0px;
$hurt-deg-offset-y: -275px;
$hurt-deg-width: 230px;
$hurt-deg-height: 54px;
$hurt-deg-total-width: 636px;
$hurt-deg-total-height: 9870px;
$hurt-deg-image: '../../static/assets/sprite.png';
$hurt-deg: (0px, 275px, 0px, -275px, 230px, 54px, 636px, 9870px, '../../static/assets/sprite.png', 'hurt_deg', );
$hand-name: 'hand';
$hand-x: 0px;
$hand-y: 329px;
$hand-offset-x: 0px;
$hand-offset-y: -329px;
$hand-width: 129px;
$hand-height: 59px;
$hand-total-width: 636px;
$hand-total-height: 9870px;
$hand-image: '../../static/assets/sprite.png';
$hand: (0px, 329px, 0px, -329px, 129px, 59px, 636px, 9870px, '../../static/assets/sprite.png', 'hand', );
$next-bt-name: 'next_bt';
$next-bt-x: 0px;
$next-bt-y: 388px;
$next-bt-offset-x: 0px;
$next-bt-offset-y: -388px;
$next-bt-width: 153px;
$next-bt-height: 68px;
$next-bt-total-width: 636px;
$next-bt-total-height: 9870px;
$next-bt-image: '../../static/assets/sprite.png';
$next-bt: (0px, 388px, 0px, -388px, 153px, 68px, 636px, 9870px, '../../static/assets/sprite.png', 'next_bt', );
$desc-name: 'desc';
$desc-x: 0px;
$desc-y: 456px;
$desc-offset-x: 0px;
$desc-offset-y: -456px;
$desc-width: 436px;
$desc-height: 68px;
$desc-total-width: 636px;
$desc-total-height: 9870px;
$desc-image: '../../static/assets/sprite.png';
$desc: (0px, 456px, 0px, -456px, 436px, 68px, 636px, 9870px, '../../static/assets/sprite.png', 'desc', );
$sword-2-name: 'sword_2';
$sword-2-x: 0px;
$sword-2-y: 524px;
$sword-2-offset-x: 0px;
$sword-2-offset-y: -524px;
$sword-2-width: 106px;
$sword-2-height: 69px;
$sword-2-total-width: 636px;
$sword-2-total-height: 9870px;
$sword-2-image: '../../static/assets/sprite.png';
$sword-2: (0px, 524px, 0px, -524px, 106px, 69px, 636px, 9870px, '../../static/assets/sprite.png', 'sword_2', );
$m-hurt-name: 'm_hurt';
$m-hurt-x: 0px;
$m-hurt-y: 593px;
$m-hurt-offset-x: 0px;
$m-hurt-offset-y: -593px;
$m-hurt-width: 246px;
$m-hurt-height: 76px;
$m-hurt-total-width: 636px;
$m-hurt-total-height: 9870px;
$m-hurt-image: '../../static/assets/sprite.png';
$m-hurt: (0px, 593px, 0px, -593px, 246px, 76px, 636px, 9870px, '../../static/assets/sprite.png', 'm_hurt', );
$l-hurt-name: 'l_hurt';
$l-hurt-x: 0px;
$l-hurt-y: 669px;
$l-hurt-offset-x: 0px;
$l-hurt-offset-y: -669px;
$l-hurt-width: 246px;
$l-hurt-height: 76px;
$l-hurt-total-width: 636px;
$l-hurt-total-height: 9870px;
$l-hurt-image: '../../static/assets/sprite.png';
$l-hurt: (0px, 669px, 0px, -669px, 246px, 76px, 636px, 9870px, '../../static/assets/sprite.png', 'l_hurt', );
$xianquan-name: 'xianquan';
$xianquan-x: 0px;
$xianquan-y: 745px;
$xianquan-offset-x: 0px;
$xianquan-offset-y: -745px;
$xianquan-width: 490px;
$xianquan-height: 76px;
$xianquan-total-width: 636px;
$xianquan-total-height: 9870px;
$xianquan-image: '../../static/assets/sprite.png';
$xianquan: (0px, 745px, 0px, -745px, 490px, 76px, 636px, 9870px, '../../static/assets/sprite.png', 'xianquan', );
$h-hurt-name: 'h_hurt';
$h-hurt-x: 0px;
$h-hurt-y: 821px;
$h-hurt-offset-x: 0px;
$h-hurt-offset-y: -821px;
$h-hurt-width: 246px;
$h-hurt-height: 76px;
$h-hurt-total-width: 636px;
$h-hurt-total-height: 9870px;
$h-hurt-image: '../../static/assets/sprite.png';
$h-hurt: (0px, 821px, 0px, -821px, 246px, 76px, 636px, 9870px, '../../static/assets/sprite.png', 'h_hurt', );
$page-bottom-name: 'page_bottom';
$page-bottom-x: 0px;
$page-bottom-y: 897px;
$page-bottom-offset-x: 0px;
$page-bottom-offset-y: -897px;
$page-bottom-width: 636px;
$page-bottom-height: 80px;
$page-bottom-total-width: 636px;
$page-bottom-total-height: 9870px;
$page-bottom-image: '../../static/assets/sprite.png';
$page-bottom: (0px, 897px, 0px, -897px, 636px, 80px, 636px, 9870px, '../../static/assets/sprite.png', 'page_bottom', );
$finger-name: 'finger';
$finger-x: 0px;
$finger-y: 977px;
$finger-offset-x: 0px;
$finger-offset-y: -977px;
$finger-width: 86px;
$finger-height: 93px;
$finger-total-width: 636px;
$finger-total-height: 9870px;
$finger-image: '../../static/assets/sprite.png';
$finger: (0px, 977px, 0px, -977px, 86px, 93px, 636px, 9870px, '../../static/assets/sprite.png', 'finger', );
$sword-1-name: 'sword_1';
$sword-1-x: 0px;
$sword-1-y: 1070px;
$sword-1-offset-x: 0px;
$sword-1-offset-y: -1070px;
$sword-1-width: 66px;
$sword-1-height: 94px;
$sword-1-total-width: 636px;
$sword-1-total-height: 9870px;
$sword-1-image: '../../static/assets/sprite.png';
$sword-1: (0px, 1070px, 0px, -1070px, 66px, 94px, 636px, 9870px, '../../static/assets/sprite.png', 'sword_1', );
$advice-name: 'advice';
$advice-x: 0px;
$advice-y: 1164px;
$advice-offset-x: 0px;
$advice-offset-y: -1164px;
$advice-width: 388px;
$advice-height: 101px;
$advice-total-width: 636px;
$advice-total-height: 9870px;
$advice-image: '../../static/assets/sprite.png';
$advice: (0px, 1164px, 0px, -1164px, 388px, 101px, 636px, 9870px, '../../static/assets/sprite.png', 'advice', );
$course-heading-name: 'course_heading';
$course-heading-x: 0px;
$course-heading-y: 1265px;
$course-heading-offset-x: 0px;
$course-heading-offset-y: -1265px;
$course-heading-width: 546px;
$course-heading-height: 102px;
$course-heading-total-width: 636px;
$course-heading-total-height: 9870px;
$course-heading-image: '../../static/assets/sprite.png';
$course-heading: (0px, 1265px, 0px, -1265px, 546px, 102px, 636px, 9870px, '../../static/assets/sprite.png', 'course_heading', );
$heading-name: 'heading';
$heading-x: 0px;
$heading-y: 1367px;
$heading-offset-x: 0px;
$heading-offset-y: -1367px;
$heading-width: 546px;
$heading-height: 102px;
$heading-total-width: 636px;
$heading-total-height: 9870px;
$heading-image: '../../static/assets/sprite.png';
$heading: (0px, 1367px, 0px, -1367px, 546px, 102px, 636px, 9870px, '../../static/assets/sprite.png', 'heading', );
$electric-heading-name: 'electric_heading';
$electric-heading-x: 0px;
$electric-heading-y: 1469px;
$electric-heading-offset-x: 0px;
$electric-heading-offset-y: -1469px;
$electric-heading-width: 546px;
$electric-heading-height: 102px;
$electric-heading-total-width: 636px;
$electric-heading-total-height: 9870px;
$electric-heading-image: '../../static/assets/sprite.png';
$electric-heading: (0px, 1469px, 0px, -1469px, 546px, 102px, 636px, 9870px, '../../static/assets/sprite.png', 'electric_heading', );
$ance-heading-name: 'ance_heading';
$ance-heading-x: 0px;
$ance-heading-y: 1571px;
$ance-heading-offset-x: 0px;
$ance-heading-offset-y: -1571px;
$ance-heading-width: 546px;
$ance-heading-height: 102px;
$ance-heading-total-width: 636px;
$ance-heading-total-height: 9870px;
$ance-heading-image: '../../static/assets/sprite.png';
$ance-heading: (0px, 1571px, 0px, -1571px, 546px, 102px, 636px, 9870px, '../../static/assets/sprite.png', 'ance_heading', );
$department-heading-name: 'department_heading';
$department-heading-x: 0px;
$department-heading-y: 1673px;
$department-heading-offset-x: 0px;
$department-heading-offset-y: -1673px;
$department-heading-width: 546px;
$department-heading-height: 102px;
$department-heading-total-width: 636px;
$department-heading-total-height: 9870px;
$department-heading-image: '../../static/assets/sprite.png';
$department-heading: (0px, 1673px, 0px, -1673px, 546px, 102px, 636px, 9870px, '../../static/assets/sprite.png', 'department_heading', );
$grade-heading-name: 'grade_heading';
$grade-heading-x: 0px;
$grade-heading-y: 1775px;
$grade-heading-offset-x: 0px;
$grade-heading-offset-y: -1775px;
$grade-heading-width: 546px;
$grade-heading-height: 102px;
$grade-heading-total-width: 636px;
$grade-heading-total-height: 9870px;
$grade-heading-image: '../../static/assets/sprite.png';
$grade-heading: (0px, 1775px, 0px, -1775px, 546px, 102px, 636px, 9870px, '../../static/assets/sprite.png', 'grade_heading', );
$lib-heading-name: 'lib_heading';
$lib-heading-x: 0px;
$lib-heading-y: 1877px;
$lib-heading-offset-x: 0px;
$lib-heading-offset-y: -1877px;
$lib-heading-width: 546px;
$lib-heading-height: 102px;
$lib-heading-total-width: 636px;
$lib-heading-total-height: 9870px;
$lib-heading-image: '../../static/assets/sprite.png';
$lib-heading: (0px, 1877px, 0px, -1877px, 546px, 102px, 636px, 9870px, '../../static/assets/sprite.png', 'lib_heading', );
$enter-name: 'enter';
$enter-x: 0px;
$enter-y: 1979px;
$enter-offset-x: 0px;
$enter-offset-y: -1979px;
$enter-width: 270px;
$enter-height: 104px;
$enter-total-width: 636px;
$enter-total-height: 9870px;
$enter-image: '../../static/assets/sprite.png';
$enter: (0px, 1979px, 0px, -1979px, 270px, 104px, 636px, 9870px, '../../static/assets/sprite.png', 'enter', );
$page-border-name: 'page_border';
$page-border-x: 0px;
$page-border-y: 2083px;
$page-border-offset-x: 0px;
$page-border-offset-y: -2083px;
$page-border-width: 601px;
$page-border-height: 127px;
$page-border-total-width: 636px;
$page-border-total-height: 9870px;
$page-border-image: '../../static/assets/sprite.png';
$page-border: (0px, 2083px, 0px, -2083px, 601px, 127px, 636px, 9870px, '../../static/assets/sprite.png', 'page_border', );
$floder-name: 'floder';
$floder-x: 0px;
$floder-y: 2210px;
$floder-offset-x: 0px;
$floder-offset-y: -2210px;
$floder-width: 207px;
$floder-height: 127px;
$floder-total-width: 636px;
$floder-total-height: 9870px;
$floder-image: '../../static/assets/sprite.png';
$floder: (0px, 2210px, 0px, -2210px, 207px, 127px, 636px, 9870px, '../../static/assets/sprite.png', 'floder', );
$knife-name: 'knife';
$knife-x: 0px;
$knife-y: 2337px;
$knife-offset-x: 0px;
$knife-offset-y: -2337px;
$knife-width: 119px;
$knife-height: 131px;
$knife-total-width: 636px;
$knife-total-height: 9870px;
$knife-image: '../../static/assets/sprite.png';
$knife: (0px, 2337px, 0px, -2337px, 119px, 131px, 636px, 9870px, '../../static/assets/sprite.png', 'knife', );
$electric-2-name: 'electric_2';
$electric-2-x: 0px;
$electric-2-y: 2468px;
$electric-2-offset-x: 0px;
$electric-2-offset-y: -2468px;
$electric-2-width: 305px;
$electric-2-height: 143px;
$electric-2-total-width: 636px;
$electric-2-total-height: 9870px;
$electric-2-image: '../../static/assets/sprite.png';
$electric-2: (0px, 2468px, 0px, -2468px, 305px, 143px, 636px, 9870px, '../../static/assets/sprite.png', 'electric_2', );
$card-1-name: 'card_1';
$card-1-x: 0px;
$card-1-y: 2611px;
$card-1-offset-x: 0px;
$card-1-offset-y: -2611px;
$card-1-width: 259px;
$card-1-height: 151px;
$card-1-total-width: 636px;
$card-1-total-height: 9870px;
$card-1-image: '../../static/assets/sprite.png';
$card-1: (0px, 2611px, 0px, -2611px, 259px, 151px, 636px, 9870px, '../../static/assets/sprite.png', 'card_1', );
$card-2-name: 'card_2';
$card-2-x: 0px;
$card-2-y: 2762px;
$card-2-offset-x: 0px;
$card-2-offset-y: -2762px;
$card-2-width: 285px;
$card-2-height: 157px;
$card-2-total-width: 636px;
$card-2-total-height: 9870px;
$card-2-image: '../../static/assets/sprite.png';
$card-2: (0px, 2762px, 0px, -2762px, 285px, 157px, 636px, 9870px, '../../static/assets/sprite.png', 'card_2', );
$yinzhang-name: 'yinzhang';
$yinzhang-x: 0px;
$yinzhang-y: 2919px;
$yinzhang-offset-x: 0px;
$yinzhang-offset-y: -2919px;
$yinzhang-width: 168px;
$yinzhang-height: 166px;
$yinzhang-total-width: 636px;
$yinzhang-total-height: 9870px;
$yinzhang-image: '../../static/assets/sprite.png';
$yinzhang: (0px, 2919px, 0px, -2919px, 168px, 166px, 636px, 9870px, '../../static/assets/sprite.png', 'yinzhang', );
$lib-1-name: 'lib_1';
$lib-1-x: 0px;
$lib-1-y: 3085px;
$lib-1-offset-x: 0px;
$lib-1-offset-y: -3085px;
$lib-1-width: 538px;
$lib-1-height: 179px;
$lib-1-total-width: 636px;
$lib-1-total-height: 9870px;
$lib-1-image: '../../static/assets/sprite.png';
$lib-1: (0px, 3085px, 0px, -3085px, 538px, 179px, 636px, 9870px, '../../static/assets/sprite.png', 'lib_1', );
$idont-name: 'idont';
$idont-x: 0px;
$idont-y: 3264px;
$idont-offset-x: 0px;
$idont-offset-y: -3264px;
$idont-width: 461px;
$idont-height: 184px;
$idont-total-width: 636px;
$idont-total-height: 9870px;
$idont-image: '../../static/assets/sprite.png';
$idont: (0px, 3264px, 0px, -3264px, 461px, 184px, 636px, 9870px, '../../static/assets/sprite.png', 'idont', );
$department-3-name: 'department_3';
$department-3-x: 0px;
$department-3-y: 3448px;
$department-3-offset-x: 0px;
$department-3-offset-y: -3448px;
$department-3-width: 212px;
$department-3-height: 184px;
$department-3-total-width: 636px;
$department-3-total-height: 9870px;
$department-3-image: '../../static/assets/sprite.png';
$department-3: (0px, 3448px, 0px, -3448px, 212px, 184px, 636px, 9870px, '../../static/assets/sprite.png', 'department_3', );
$body-name: 'body';
$body-x: 0px;
$body-y: 3632px;
$body-offset-x: 0px;
$body-offset-y: -3632px;
$body-width: 331px;
$body-height: 185px;
$body-total-width: 636px;
$body-total-height: 9870px;
$body-image: '../../static/assets/sprite.png';
$body: (0px, 3632px, 0px, -3632px, 331px, 185px, 636px, 9870px, '../../static/assets/sprite.png', 'body', );
$grade-2-name: 'grade_2';
$grade-2-x: 0px;
$grade-2-y: 3817px;
$grade-2-offset-x: 0px;
$grade-2-offset-y: -3817px;
$grade-2-width: 243px;
$grade-2-height: 187px;
$grade-2-total-width: 636px;
$grade-2-total-height: 9870px;
$grade-2-image: '../../static/assets/sprite.png';
$grade-2: (0px, 3817px, 0px, -3817px, 243px, 187px, 636px, 9870px, '../../static/assets/sprite.png', 'grade_2', );
$department-2-name: 'department_2';
$department-2-x: 0px;
$department-2-y: 4004px;
$department-2-offset-x: 0px;
$department-2-offset-y: -4004px;
$department-2-width: 329px;
$department-2-height: 189px;
$department-2-total-width: 636px;
$department-2-total-height: 9870px;
$department-2-image: '../../static/assets/sprite.png';
$department-2: (0px, 4004px, 0px, -4004px, 329px, 189px, 636px, 9870px, '../../static/assets/sprite.png', 'department_2', );
$grade-1-name: 'grade_1';
$grade-1-x: 0px;
$grade-1-y: 4193px;
$grade-1-offset-x: 0px;
$grade-1-offset-y: -4193px;
$grade-1-width: 303px;
$grade-1-height: 194px;
$grade-1-total-width: 636px;
$grade-1-total-height: 9870px;
$grade-1-image: '../../static/assets/sprite.png';
$grade-1: (0px, 4193px, 0px, -4193px, 303px, 194px, 636px, 9870px, '../../static/assets/sprite.png', 'grade_1', );
$ance-1-name: 'ance_1';
$ance-1-x: 0px;
$ance-1-y: 4387px;
$ance-1-offset-x: 0px;
$ance-1-offset-y: -4387px;
$ance-1-width: 547px;
$ance-1-height: 207px;
$ance-1-total-width: 636px;
$ance-1-total-height: 9870px;
$ance-1-image: '../../static/assets/sprite.png';
$ance-1: (0px, 4387px, 0px, -4387px, 547px, 207px, 636px, 9870px, '../../static/assets/sprite.png', 'ance_1', );
$mdc-can-name: 'mdc_can';
$mdc-can-x: 0px;
$mdc-can-y: 4594px;
$mdc-can-offset-x: 0px;
$mdc-can-offset-y: -4594px;
$mdc-can-width: 400px;
$mdc-can-height: 210px;
$mdc-can-total-width: 636px;
$mdc-can-total-height: 9870px;
$mdc-can-image: '../../static/assets/sprite.png';
$mdc-can: (0px, 4594px, 0px, -4594px, 400px, 210px, 636px, 9870px, '../../static/assets/sprite.png', 'mdc_can', );
$ance-2-name: 'ance_2';
$ance-2-x: 0px;
$ance-2-y: 4804px;
$ance-2-offset-x: 0px;
$ance-2-offset-y: -4804px;
$ance-2-width: 544px;
$ance-2-height: 213px;
$ance-2-total-width: 636px;
$ance-2-total-height: 9870px;
$ance-2-image: '../../static/assets/sprite.png';
$ance-2: (0px, 4804px, 0px, -4804px, 544px, 213px, 636px, 9870px, '../../static/assets/sprite.png', 'ance_2', );
$grade-3-name: 'grade_3';
$grade-3-x: 0px;
$grade-3-y: 5017px;
$grade-3-offset-x: 0px;
$grade-3-offset-y: -5017px;
$grade-3-width: 534px;
$grade-3-height: 231px;
$grade-3-total-width: 636px;
$grade-3-total-height: 9870px;
$grade-3-image: '../../static/assets/sprite.png';
$grade-3: (0px, 5017px, 0px, -5017px, 534px, 231px, 636px, 9870px, '../../static/assets/sprite.png', 'grade_3', );
$lib-2-name: 'lib_2';
$lib-2-x: 0px;
$lib-2-y: 5248px;
$lib-2-offset-x: 0px;
$lib-2-offset-y: -5248px;
$lib-2-width: 249px;
$lib-2-height: 231px;
$lib-2-total-width: 636px;
$lib-2-total-height: 9870px;
$lib-2-image: '../../static/assets/sprite.png';
$lib-2: (0px, 5248px, 0px, -5248px, 249px, 231px, 636px, 9870px, '../../static/assets/sprite.png', 'lib_2', );
$qr-code-name: 'qr_code';
$qr-code-x: 0px;
$qr-code-y: 5479px;
$qr-code-offset-x: 0px;
$qr-code-offset-y: -5479px;
$qr-code-width: 496px;
$qr-code-height: 238px;
$qr-code-total-width: 636px;
$qr-code-total-height: 9870px;
$qr-code-image: '../../static/assets/sprite.png';
$qr-code: (0px, 5479px, 0px, -5479px, 496px, 238px, 636px, 9870px, '../../static/assets/sprite.png', 'qr_code', );
$department-1-name: 'department_1';
$department-1-x: 0px;
$department-1-y: 5717px;
$department-1-offset-x: 0px;
$department-1-offset-y: -5717px;
$department-1-width: 543px;
$department-1-height: 244px;
$department-1-total-width: 636px;
$department-1-total-height: 9870px;
$department-1-image: '../../static/assets/sprite.png';
$department-1: (0px, 5717px, 0px, -5717px, 543px, 244px, 636px, 9870px, '../../static/assets/sprite.png', 'department_1', );
$lib-3-name: 'lib_3';
$lib-3-x: 0px;
$lib-3-y: 5961px;
$lib-3-offset-x: 0px;
$lib-3-offset-y: -5961px;
$lib-3-width: 269px;
$lib-3-height: 245px;
$lib-3-total-width: 636px;
$lib-3-total-height: 9870px;
$lib-3-image: '../../static/assets/sprite.png';
$lib-3: (0px, 5961px, 0px, -5961px, 269px, 245px, 636px, 9870px, '../../static/assets/sprite.png', 'lib_3', );
$electric-3-name: 'electric_3';
$electric-3-x: 0px;
$electric-3-y: 6206px;
$electric-3-offset-x: 0px;
$electric-3-offset-y: -6206px;
$electric-3-width: 328px;
$electric-3-height: 263px;
$electric-3-total-width: 636px;
$electric-3-total-height: 9870px;
$electric-3-image: '../../static/assets/sprite.png';
$electric-3: (0px, 6206px, 0px, -6206px, 328px, 263px, 636px, 9870px, '../../static/assets/sprite.png', 'electric_3', );
$card-3-name: 'card_3';
$card-3-x: 0px;
$card-3-y: 6469px;
$card-3-offset-x: 0px;
$card-3-offset-y: -6469px;
$card-3-width: 533px;
$card-3-height: 271px;
$card-3-total-width: 636px;
$card-3-total-height: 9870px;
$card-3-image: '../../static/assets/sprite.png';
$card-3: (0px, 6469px, 0px, -6469px, 533px, 271px, 636px, 9870px, '../../static/assets/sprite.png', 'card_3', );
$xiazi-name: 'xiazi';
$xiazi-x: 0px;
$xiazi-y: 6740px;
$xiazi-offset-x: 0px;
$xiazi-offset-y: -6740px;
$xiazi-width: 554px;
$xiazi-height: 326px;
$xiazi-total-width: 636px;
$xiazi-total-height: 9870px;
$xiazi-image: '../../static/assets/sprite.png';
$xiazi: (0px, 6740px, 0px, -6740px, 554px, 326px, 636px, 9870px, '../../static/assets/sprite.png', 'xiazi', );
$electric-1-name: 'electric_1';
$electric-1-x: 0px;
$electric-1-y: 7066px;
$electric-1-offset-x: 0px;
$electric-1-offset-y: -7066px;
$electric-1-width: 226px;
$electric-1-height: 419px;
$electric-1-total-width: 636px;
$electric-1-total-height: 9870px;
$electric-1-image: '../../static/assets/sprite.png';
$electric-1: (0px, 7066px, 0px, -7066px, 226px, 419px, 636px, 9870px, '../../static/assets/sprite.png', 'electric_1', );
$course-1-name: 'course_1';
$course-1-x: 0px;
$course-1-y: 7485px;
$course-1-offset-x: 0px;
$course-1-offset-y: -7485px;
$course-1-width: 239px;
$course-1-height: 429px;
$course-1-total-width: 636px;
$course-1-total-height: 9870px;
$course-1-image: '../../static/assets/sprite.png';
$course-1: (0px, 7485px, 0px, -7485px, 239px, 429px, 636px, 9870px, '../../static/assets/sprite.png', 'course_1', );
$course-2-name: 'course_2';
$course-2-x: 0px;
$course-2-y: 7914px;
$course-2-offset-x: 0px;
$course-2-offset-y: -7914px;
$course-2-width: 303px;
$course-2-height: 429px;
$course-2-total-width: 636px;
$course-2-total-height: 9870px;
$course-2-image: '../../static/assets/sprite.png';
$course-2: (0px, 7914px, 0px, -7914px, 303px, 429px, 636px, 9870px, '../../static/assets/sprite.png', 'course_2', );
$card-cont-name: 'card_cont';
$card-cont-x: 0px;
$card-cont-y: 8343px;
$card-cont-offset-x: 0px;
$card-cont-offset-y: -8343px;
$card-cont-width: 541px;
$card-cont-height: 439px;
$card-cont-total-width: 636px;
$card-cont-total-height: 9870px;
$card-cont-image: '../../static/assets/sprite.png';
$card-cont: (0px, 8343px, 0px, -8343px, 541px, 439px, 636px, 9870px, '../../static/assets/sprite.png', 'card_cont', );
$test-name: 'test';
$test-x: 0px;
$test-y: 8782px;
$test-offset-x: 0px;
$test-offset-y: -8782px;
$test-width: 579px;
$test-height: 526px;
$test-total-width: 636px;
$test-total-height: 9870px;
$test-image: '../../static/assets/sprite.png';
$test: (0px, 8782px, 0px, -8782px, 579px, 526px, 636px, 9870px, '../../static/assets/sprite.png', 'test', );
$form-name: 'form';
$form-x: 0px;
$form-y: 9308px;
$form-offset-x: 0px;
$form-offset-y: -9308px;
$form-width: 499px;
$form-height: 562px;
$form-total-width: 636px;
$form-total-height: 9870px;
$form-image: '../../static/assets/sprite.png';
$form: (0px, 9308px, 0px, -9308px, 499px, 562px, 636px, 9870px, '../../static/assets/sprite.png', 'form', );
$spritesheet-width: 636px;
$spritesheet-height: 9870px;
$spritesheet-image: '../../static/assets/sprite.png';
$spritesheet-sprites: ($mdc-2, $mdc-1, $dot-empty, $dot-fill, $hp-empty, $hp-fill, $hurt-deg, $hand, $next-bt, $desc, $sword-2, $m-hurt, $l-hurt, $xianquan, $h-hurt, $page-bottom, $finger, $sword-1, $advice, $course-heading, $heading, $electric-heading, $ance-heading, $department-heading, $grade-heading, $lib-heading, $enter, $page-border, $floder, $knife, $electric-2, $card-1, $card-2, $yinzhang, $lib-1, $idont, $department-3, $body, $grade-2, $department-2, $grade-1, $ance-1, $mdc-can, $ance-2, $grade-3, $lib-2, $qr-code, $department-1, $lib-3, $electric-3, $card-3, $xiazi, $electric-1, $course-1, $course-2, $card-cont, $test, $form, );
$spritesheet: (636px, 9870px, '../../static/assets/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/


@mixin sprite-width($sprite) {
  width: (nth($sprite, 5) / 640px)*100%;
}

@mixin sprite-height($sprite) {
  height: (nth($sprite, 6) / 1136px)*100%;
}

@mixin sprite-size($sprite) {
  $sprite-total-height: nth($sprite, 8);
  $sprite-total-width: nth($sprite, 7);
  $width: nth($sprite, 5);
  $height: nth($sprite, 6);
  background-size: ($sprite-total-width / $width) * 100%  ($sprite-total-height / $height) * 100%;
}

@mixin sprite-position($sprite) {
  $sprite-x: nth($sprite, 1);
  $sprite-total-height: nth($sprite, 8);
  $sprite-y: nth($sprite, 2) / $sprite-total-height;
  background-position: $sprite-x  $sprite-y * 100%;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  @include sprite-size($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

.page_item {
	@include sprites($spritesheet-sprites);
}